In [1]:
import pandas as pd

# Uploading Data

In [7]:
toronto_data=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
toronto_data=toronto_data[0]
toronto_data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

# Formatting Data

In [8]:
#Droping cells with a borough that is Not assigned, and combining Neighbourhoods in the same borough
toronto_data=toronto_data[toronto_data['Borough']!='Not assigned']
toronto_data=toronto_data.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
toronto_data.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [9]:
#Replacing the Not assigned neighborhoods with the name of their Borough, and printing the shape of the Dataframe
condition=toronto_data['Neighbourhood']=='Not assigned'
toronto_data.Neighbourhood[condition]=toronto_data.Borough[condition]
toronto_data.shape

(103, 3)